<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CréditoParaTodxs - Crédito Pessoal Simplificado</title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />

    <link rel="stylesheet" href="/public/css/components/credito.card.css" />

    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/parcelamento.js"></script>
  </head>
  <header class="navbar navbar-expand-lg navbar-light bg-light">
    <%- include('./components/basics/navbar') %>
  </header>
  <% if(message.info != null){%>
    <%- include('./components/toast/toast-message', {mensagem: message}) %>
    <%}%>
  <body>
    <div class="container mt-3">
      <div class="row">

        <% creditos.forEach((credito) =>{%>
          <div class="col mb-3">
            <div class="container">
              <%- include('./components/cards/credito-card', {data: credito}) %>
            </div>
          </div>
          <%})%>

      </div>

      </div>


    </div>
    <footer>
      <%- include('./components/modals/login-modal') %> 
      <%- include('./components/modals/register-modal') %>

    </footer>
  </body>
</html>
